<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BIT.UDLA.FLUJOS.PASANTIAS.MossPersistance.Properties.UdlaListDefinitions" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BIT.UDLA.FLUJOS.PASANTIAS.MossPersistance.Properties.UdlaListDefinitions>
            <setting name="Lista_Empresas" serializeAs="String">
                <value>Empresas</value>
            </setting>
            <setting name="Lista_Pasantias" serializeAs="String">
                <value>Lista Pasantias</value>
            </setting>
            <setting name="Url_Sitio" serializeAs="String">
                <value>http://sntest05:84</value>
            </setting>
            <setting name="Lista_Visitas" serializeAs="String">
                <value>Lista Visitas</value>
            </setting>
            <setting name="Lista_Actividades" serializeAs="String">
                <value>Lista de Actividades Por Estudiante</value>
            </setting>
            <setting name="Lista_Usuarios" serializeAs="String">
                <value>Lista Usuarios</value>
            </setting>
            <setting name="Url_Proceso" serializeAs="String">
                <value>http://sntest05:84</value>
            </setting>
        </BIT.UDLA.FLUJOS.PASANTIAS.MossPersistance.Properties.UdlaListDefinitions>
    </applicationSettings>
</configuration>