<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BIT.UDLA.FLUJO.PASANTIAS.WebParts.Properties.Design" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BIT.UDLA.FLUJO.PASANTIAS.WebParts.Design" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BIT.UDLA.FLUJO.PASANTIAS.WebParts.Properties.Flujo" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BIT.UDLA.FLUJO.PASANTIAS.WebParts.Flujo" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BIT.UDLA.FLUJO.PASANTIAS.WebParts.Properties.Pages" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BIT.UDLA.FLUJO.PASANTIAS.WebParts.Pages" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
       
        <BIT.UDLA.FLUJO.PASANTIAS.WebParts.Properties.Pages>
            <setting name="RegistroVisitas" serializeAs="String">
                <value>_layouts/Dialogs/NuevaVisita.aspx</value>
            </setting>
            <setting name="RegistroActividades" serializeAs="String">
                <value>_layouts/Dialogs/NuevaActividad.aspx</value>
            </setting>
            <setting name="MensajePageName" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/Mensaje.aspx</value>
            </setting>
            <setting name="SeleccionPractica" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/SeleccionDeTipoDePractica.aspx</value>
            </setting>
            <setting name="HojaDeVida" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/HojaDeVida.aspx</value>
            </setting>
            <setting name="Empresas" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/SeleccionEmpresas.aspx</value>
            </setting>
            <setting name="PaginaInformacion" serializeAs="String">
                <value>_layouts/BIT.UDLA.FLUJO.PASANTIAS.WebParts/Pasantias-Pre-Profesionales.aspx</value>
            </setting>
            <setting name="ConSupervision" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/ConSupervision.aspx</value>
            </setting>
            <setting name="EvaluacionFinal" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/EvaluacionTutor.aspx</value>
            </setting>
            <setting name="SeleccionMateria" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/SeleccionDeMateria.aspx</value>
            </setting>
            <setting name="SeleccionAlumnosDocente" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/SeleccionAlumnoDocente.aspx</value>
            </setting>
            <setting name="SeleccionUsuarioEmpresa" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Supervisores/SeleccionSupervisorEmpresas.aspx</value>
            </setting>
            <setting name="SeleccionAlumnosEmpresa" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Empresas/SeleccionAlumnoEmpresa.aspx</value>
            </setting>
            <setting name="FichaRegistroEmpresa" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Empresas/FichaRegistro.aspx</value>
            </setting>
            <setting name="EvaluacionEmpresa" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Encuestas/EvaluacionEmpresas.aspx</value>
            </setting>
            <setting name="EvaluacionEstudiante" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Encuestas/EvaluacionAlumnos.aspx</value>
            </setting>
            <setting name="Error" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/MensajeError.aspx</value>
            </setting>
            <setting name="RegistroUsuarios" serializeAs="String">
                <value>_layouts/Dialogs/NuevoUsuario.aspx</value>
            </setting>
            <setting name="FichaRegistroTutor" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/FichaRegistroTutor.aspx</value>
            </setting>
            <setting name="FichaRegistroConfirmacionEmpresa" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Empresas/FichaRegistroConfirmacionEmpresa.aspx</value>
            </setting>
            <setting name="Accion" serializeAs="String">
                <value>_layouts/BIT.UDLA.FLUJO.PASANTIAS.WebParts/actionPage.aspx</value>
            </setting>
            <setting name="RouterPagina" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Empresas/RouterEmpresas.aspx</value>
            </setting>
            <setting name="Home" serializeAs="String">
                <value />
            </setting>
            <setting name="EnProceso" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/EnProceso.aspx</value>
            </setting>
            <setting name="RegistroCurso" serializeAs="String">
                <value>_layouts/Dialogs/NuevoCurso.aspx</value>
            </setting>
            <setting name="Cursos" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/Cursos.aspx</value>
            </setting>
            <setting name="Ofertas" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/SeleccionOfertas.aspx</value>
            </setting>
            <setting name="RutaEmpresaOfertas" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/TipoEmpresasOfertas.aspx</value>
            </setting>
            <setting name="EmpresasPuerto" serializeAs="String">
                <value>http://sntest06:8082/PaginasPracticasPreProfesionales/Empresas/Empresas.aspx</value>
            </setting>
            <setting name="CancelarPractica" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/CancelarPractica.aspx</value>
            </setting>
            <setting name="ConfirmarCancelacion" serializeAs="String">
                <value>_layouts/Cancelar/CancelarFlujo.aspx</value>
            </setting>
            <setting name="Finalizada" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/EnProceso.aspx</value>
            </setting>
            <setting name="InformacionEmpresas" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/InformacionEmpresas.aspx</value>
            </setting>
            <setting name="NuevaEmpresa" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Practicas/NuevaEmpresa.aspx</value>
            </setting>
            <setting name="IrADocente" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Directo/Docentes.aspx</value>
            </setting>
            <setting name="IrAEmpresa" serializeAs="String">
                <value>PaginasPracticasPreProfesionales/Empresas/Empresas.aspx</value>
            </setting>
        </BIT.UDLA.FLUJO.PASANTIAS.WebParts.Properties.Pages>
       
    </applicationSettings>
</configuration>