<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BIT.UDLA.FLUJOS.PASANTIAS.Logic.Properties.UdlaListDefinitions" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BIT.UDLA.FLUJOS.PASANTIAS.Logic.UdlaListDefinitions" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BIT.UDLA.FLUJOS.PASANTIAS.Logic.Properties.UdlaListDefinitions>
            <setting name="Lista_Empresas" serializeAs="String">
                <value>Empresas</value>
            </setting>
            <setting name="Lista_Pasantias" serializeAs="String">
                <value />
            </setting>
            <setting name="Url_Sitio" serializeAs="String">
                <value>http://msit-win2008mos/sites/pasantias</value>
            </setting>
            <setting name="UrlImage" serializeAs="String">
                <value>C:\Users\Administrator\Desktop\LogoUdla.PNG</value>
            </setting>
        </BIT.UDLA.FLUJOS.PASANTIAS.Logic.Properties.UdlaListDefinitions>
        <BIT.UDLA.FLUJOS.PASANTIAS.Logic.UdlaListDefinitions>
            <setting name="Lista_Empresas" serializeAs="String">
                <value>Empresas</value>
            </setting>
            <setting name="Lista_Pasantias" serializeAs="String">
                <value />
            </setting>
            <setting name="Url_Sitio" serializeAs="String">
                <value>http://msit-win2008mos/sites/pasantias</value>
            </setting>
        </BIT.UDLA.FLUJOS.PASANTIAS.Logic.UdlaListDefinitions>
    </applicationSettings>
</configuration>