<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BIT.UDLA.FLUJOS.PASANTIAS.Comun.Properties.Parametros" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
                   </sectionGroup>
    </configSections>
    <applicationSettings>
        <BIT.UDLA.FLUJOS.PASANTIAS.Comun.Properties.Parametros>
            <setting name="Dominio" serializeAs="String">
                <value>UDLA\</value>
            </setting>
            <setting name="ADPath" serializeAs="String">
                <value>LDAP://udla-ec.int</value>
            </setting>
            <setting name="ADUserFilter" serializeAs="String">
                <value>(&amp;(objectClass=user)({0}={1}))</value>
            </setting>
            <setting name="ADCedulaAttribute" serializeAs="String">
                <value>userCI</value>
            </setting>
            <setting name="ADUser" serializeAs="String">
                <value>UDLA\sppadmin</value>
            </setting>
            <setting name="ADPassword" serializeAs="String">
                <value>6u.A@$TyBnjp0x</value>
            </setting>
            <setting name="KeyPress" serializeAs="String">
                <value>return ValidateLines(this,{0},{1});</value>
            </setting>
            <setting name="Paste" serializeAs="String">
                <value>return maxLengthPaste(this,{0},{1});</value>
            </setting>
        </BIT.UDLA.FLUJOS.PASANTIAS.Comun.Properties.Parametros>
     
    </applicationSettings>
</configuration>