<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BIT.UDLA.FLUJOS.PASANTIAS.Constants.Properties.Mensajes" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BIT.UDLA.FLUJOS.PASANTIAS.Constants.Properties.Connectors" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
               <section name="BIT.UDLA.FLUJOS.PASANTIAS.Constants.Properties.Flujo" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      
    </configSections>
    <applicationSettings>
        <BIT.UDLA.FLUJOS.PASANTIAS.Constants.Properties.Mensajes>
            <setting name="Excepcion" serializeAs="String">
                <value>Se ha producido un error</value>
            </setting>
            <setting name="SeleccionarTutor" serializeAs="String">
                <value>No existe tutor</value>
            </setting>
            <setting name="ErrorADUsername" serializeAs="String">
                <value>Error al obtener informacion del tutor</value>
            </setting>
            <setting name="ObtenerMOSSID" serializeAs="String">
                <value>Error al obtener tutor ID</value>
            </setting>
            <setting name="ObtenerMateria" serializeAs="String">
                <value>Materia Invalida</value>
            </setting>
            <setting name="ObtenerHoras" serializeAs="String">
                <value>Error al obtener horas</value>
            </setting>
            <setting name="MaxHoras" serializeAs="String">
                <value>El numero de horas ingresadas supera las horas necesarias para la materia</value>
            </setting>
            <setting name="ValidarDeudas" serializeAs="String">
                <value>Por favor acércate al departamento de financiamiento UDLA</value>
            </setting>
            <setting name="LinkPractica" serializeAs="String">
                <value>ACCIÓN</value>
            </setting>
            <setting name="NumeroMaximoLineas" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NombrePractica" serializeAs="String">
                <value>PRÁCTICA-{0}</value>
            </setting>
            <setting name="MensajeConfirmacionFichaEmpresa" serializeAs="String">
                <value>Está seguro/a que desea ingresar el número de horas ejecutadas?</value>
            </setting>
            <setting name="MensajeConfirmacionFichaEmpresaConfirmar" serializeAs="String">
                <value>Deseas dar por finalizada la práctica?</value>
            </setting>
            <setting name="MensajeUsuarioInactivo" serializeAs="String">
                <value>Usuario InActivo, seleccione o cree otro usuario</value>
            </setting>
            <setting name="MensajeCanceladoEmpresa" serializeAs="String">
                <value>CANCELADO POR EMPRESA</value>
            </setting>
            <setting name="MensajeCanceladoDocente" serializeAs="String">
                <value>CANCELADO POR DOCENTE</value>
            </setting>
            <setting name="MensajeCanceladoTutor" serializeAs="String">
                <value>CANCELADO  POR TUTOR</value>
            </setting>
            <setting name="TextoIrADocente" serializeAs="String">
                <value>Ir a Listado de  Prácticas Asignadas</value>
            </setting>
            <setting name="TextoIrAEmpresa" serializeAs="String">
                <value>Ir a Listado de Prácticas Asignadas</value>
            </setting>
            <setting name="ValidarCuartaMatricula" serializeAs="String">
                <value>Has agotado el número de matrículas permitidas.</value>
            </setting>
            <setting name="ValidarResolucionRetiro" serializeAs="String">
                <value>No te encuentras vigente en el período académico actual.</value>
            </setting>
            <setting name="SeleccionarAlumno" serializeAs="String">
                <value>No te encuentras vigente en el periodo académico actual.</value>
            </setting>
            <setting name="ValidarNivel" serializeAs="String">
                <value>No te encuentras en el nivel para iniciar la práctica.</value>
            </setting>
            <setting name="ErrorValidacion" serializeAs="String">
                <value>Ha existido un problema.</value>
            </setting>
            <setting name="SeleccionarNivel" serializeAs="String">
                <value>No te encuentras vigente en el período académico actual.</value>
            </setting>
            <setting name="MensajeConfirmacionFichaTutor" serializeAs="String">
                <value>Está seguro/a que desea ingresar el número de horas?</value>
            </setting>
            <setting name="MensajeConfirmacionHorasSaes" serializeAs="String">
                <value>Estas seguro de registrar las horas en el sistema académico?</value>
            </setting>
        </BIT.UDLA.FLUJOS.PASANTIAS.Constants.Properties.Mensajes>
        <BIT.UDLA.FLUJOS.PASANTIAS.Constants.Properties.Connectors>
            <setting name="SAES" serializeAs="String">
                <value>Dsn=SAES</value>
            </setting>
            <setting name="Backup" serializeAs="String">
                <value>Data Source=SNTEST01\SQL2K5;Initial Catalog=BolsaEmpleo_Test;Persist Security Info=True;User ID=sa;Password=123456</value>
            </setting>
            <setting name="BEmpleo" serializeAs="String">
                <value>Server=192.168.4.45;Database=BolsaEmpleo_Test;User ID=sa;Password=123456;Trusted_Connection=False;</value>
            </setting>
        </BIT.UDLA.FLUJOS.PASANTIAS.Constants.Properties.Connectors>
       
      <BIT.UDLA.FLUJOS.PASANTIAS.Constants.Properties.Flujo>
        <setting name="INICIO" serializeAs="String">
          <value>INICIO</value>
        </setting>
        <setting name="ACTUALIZACION_HOJA_DE_VIDA" serializeAs="String">
          <value>ACTUALIZACION_HOJA_DE_VIDA</value>
        </setting>
        <setting name="EMPRESA_SELECCIONADA" serializeAs="String">
          <value>EMPRESA_SELECCIONADA</value>
        </setting>
        <setting name="SELECCION_USUARIO_DOCENTE" serializeAs="String">
          <value>SELECCION_USUARIO_DOCENTE</value>
        </setting>
        <setting name="SELECCION_USUARIO_EMPRESA" serializeAs="String">
          <value>SELECCION_USUARIO_EMPRESA</value>
        </setting>
        <setting name="ACEPTACION_ESTUDIANTE_EMPRESA" serializeAs="String">
          <value>ACEPTACION_ESTUDIANTE_EMPRESA</value>
        </setting>
        <setting name="ASIGNACION_EMPRESA" serializeAs="String">
          <value>ASIGNACION_EMPRESA</value>
        </setting>
        <setting name="REVISION_TUTOR" serializeAs="String">
          <value>REVISION_TUTOR</value>
        </setting>
        <setting name="CONFIRMACION_EMPRESA" serializeAs="String">
          <value>CONFIRMACION_EMPRESA</value>
        </setting>
        <setting name="REGISTRO_TUTOR" serializeAs="String">
          <value>REGISTRO_TUTOR</value>
        </setting>
        <setting name="EDICION_ESTUDIANTE_EMPRESA" serializeAs="String">
          <value>EDICION_ESTUDIANTE_EMPRESA</value>
        </setting>
        <setting name="SELECCION_MATERIA" serializeAs="String">
          <value>SELECCION_MATERIA</value>
        </setting>
        <setting name="CANCELADO" serializeAs="String">
          <value>CANCELADO</value>
        </setting>
        <setting name="FINALIZACION" serializeAs="String">
          <value>FINALIZADO</value>
        </setting>
        <setting name="CARTA_DE_COMPROMISO" serializeAs="String">
          <value>CARTA_DE_COMPROMISO</value>
        </setting>
        <setting name="EMPRESA_EN_PROCESO" serializeAs="String">
          <value>EMPRESA_EN_PROCESO</value>
        </setting>
        <setting name="NOTIFICAR_DOCENTE" serializeAs="String">
          <value>NOTIFICAR_DOCENTE</value>
        </setting>
        <setting name="SELECCION_PRACTICA" serializeAs="String">
          <value>SELECCION_PRACTICA</value>
        </setting>
        <setting name="NOTIFICAR_USUARIO_EMPRESA" serializeAs="String">
          <value>NOTIFICAR_USUARIO_EMPRESA</value>
        </setting>
      </BIT.UDLA.FLUJOS.PASANTIAS.Constants.Properties.Flujo>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
